body {
    background-color: orangered;
    text-align: center;
    margin: 0px;
}

header{
    border-bottom: 2px rgb(red, rgb(255, 230, 0), blue);
padding: 30px;
font-size: 50px;
text-decoration: none;
}

.suruei {
    font-style: italic;
}

.sadt {
    width: 50%;
}